# Variabili d'ambiente per gli URL delle API del progetto, scritte nel backend

VITE_AUTH_URL=http://<indirizzo_del_server_backend>:<porta_del_server_backend>/api/auth
VITE_TASKS_URL=http://<indirizzo_del_server_backend>:<porta_del_server_backend>/api/tasks