DB_CONTAINER_NAME=container_name
DB_PORT=set_port
DB_NAME=set_db_name
DB_USER=set_user_name
DB_PASSWORD=set_password

PGHOST=inserisci_nome_host
PGPORT=set_port
PGDATABASE=set_db_name
PGUSER=set_user_name
PGPASSWORD=set_password
DATABASE_URL=set_db_url