body .modal-header {
  border: none;
  padding-bottom: 0%;
}

body .modal-title {
  font-size: inherit;
  font-weight: 600;
  color: #636a6e;
}

body .form-floating > label {
  height: 2.1875rem;
  font: inherit;
  font-size: 0.875rem;
  color: #71797e;
}

body .form-floating > .form-control {
  height: 2.1875rem;
  font: inherit;
  font-size: 0.875rem;
  color: #222425;
}

body .form-floating > .form-control:focus {
  border-color: #fe8686;
  box-shadow: 0 0 0 0.25rem hwb(0 5% 1% / 0.25);
}

body .form-floating > .form-control:focus::placeholder {
  color: #91989c;
}

body form > .form-select {
  font: inherit;
  font-size: 0.875rem;
  color: #222425;
}

body form > .form-select:focus {
  border-color: #fe8686;
  box-shadow: 0 0 0 0.25rem hwb(0 5% 1% / 0.25);
}

body .modal-body button {
  display: block;
  justify-self: center;
  height: 1.75rem;
  padding: 0.25rem 0.5rem;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #636a6e;
  border: 0px solid #636a6e;
  border-radius: 0.375rem;
  cursor: pointer;
}

body .modal-body button:hover {
  background-color: #4e5356;
  border-color: #222425;
}
