.taskManagerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;
  color: #636a6e;
}

.newTaskContainer {
  width: 100%;
  padding: 1vh 0;
  display: flex;
  justify-content: flex-end;
}

.newTaskContainer button {
  height: 1.75rem;
  padding: 0.25rem 0.5rem;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #636a6e;
  border: 0px solid #636a6e;
  border-radius: 0.375rem;
  cursor: pointer;
}

.newTaskContainer button:hover {
  background-color: #4e5356;
  border-color: #222425;
}

.tasksContainer {
  width: 100%;
  padding: 1vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.tasksContainer > * {
  width: 100%;
}

@media (min-width: 326.1px) and (max-width: 471px) {
  .taskManagerContainer {
    padding: 1.25vh 0;
  }

  .newTaskContainer {
    padding: 1.25vh 0;
  }

  .tasksContainer {
    padding: 1.25vh 0;
  }
}

@media (min-width: 471.1px) and (max-width: 601px) {
  .taskManagerContainer {
    padding: 1.5vh 0;
  }

  .newTaskContainer {
    padding: 1.5vh 1vw;
  }

  .tasksContainer {
    padding: 1.5vh 0;
  }
}

@media (min-width: 601.1px) and (max-width: 788px) {
  .taskManagerContainer {
    padding: 1.75vh 0;
  }

  .newTaskContainer {
    padding: 1.75vh 1.4vw;
  }

  .tasksContainer {
    padding: 1.75vh 0;
  }
}

@media (min-width: 788.1px) {
  .taskManagerContainer {
    padding: 2vh 0;
  }

  .newTaskContainer {
    padding: 2vh 1.8vw;
  }

  .tasksContainer {
    padding: 2vh 0;
  }
}
