.taskItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskItem h3 {
  font-weight: bold;
  color: #636a6e;
}

.taskItem p {
  font-size: 0.75rem;
  color: #71797e;
}

.taskItemTitle {
  display: flex;
  flex-direction: column;
}

.taskItemPriority {
  align-self: center;
}

.high {
  color: #a30000;
}

.medium {
  color: #d14d00;
}

.low {
  color: #ffb300;
}

.taskItemStatus {
  display: flex;
  flex-direction: column;
}

.taskItemActions {
  display: flex;
  flex-direction: column;
}

.taskItemActions button {
  align-self: center;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  background-color: #636a6e;
  border: 0px solid #636a6e;
  border-radius: 0.25rem;
  cursor: pointer;
}

.taskItemExecuted {
  text-decoration: line-through;
  text-decoration-thickness: 0.125rem;
  text-decoration-color: #383b3e;
}
